@import "tailwindcss";

@layer base {
  body {
    @apply overflow-x-hidden bg-gray-100 m-0 p-0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
